body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 27px;
    background-color: #545d68;
    align-content: center;
}

header {
    width: 100%;
    height: 54px;
    background-color: #3a5679;
    display: block;
    position: relative;
    border-bottom: 2px solid #1e2227;
}

footer {
    /* set to bottom */
    background-color: #1e2227;
    width: 100%;
    height: 36px;

}

h1 {
    position: absolute;
    bottom: 9px;
    left: 32px;
    font-size: 36px;
    color: #cae2ff;
}

h5 {
    font-weight: bold;
}

.mainContent {
    align-content: center;
    display: block;
    margin: 12px 12rem 0px 12rem;
    padding: 12px;
    max-width: 960px;
    background-color: #abb8c9;
    border: 4px outset #6a7481;
}

.box {
    /* border and padding to be removed when JS is added */
    border: solid 2px #1e2227;
    padding-bottom: 100px; 
    margin-bottom: 8px;
}

.gameBoard {
    text-align: center;
    padding-top: 4rem;
}

.helpInfo {
    font-size: 16px;
    margin: 18px 0 18px;
    /* border: dotted 2px #1e2227; */
}



#currentWord {
    font-size: 32px;
    font-weight: bold;
}

#leftBox {
    display: inline-block;
    /* border: solid 2px #1e2227; */
    width: 45%;
    padding: 12px 4% 200px 0;

}

#rightBox {
    display: inline-block;
    /* border: solid 2px #1e2227; */
    width: 45%;
    position: relative;
    padding: 12px 0 200px 0;
}

#winBox {
    font-size: 32px;
    /* width: 40%; */
    /* display: inline */
}

#lossBox {
    font-size: 32px;
    /* display: inline; */
    /* width: 40%; */

}

.lifeGraphic{
    position: relative;
}
.ball {
    border-radius: 50%;
    position: fixed;  
    width: 50px;
    height: 50px;
    top: 60%;
    /* animation-name: jump; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
    animation: bounce 2s infinite;
    text-align: center;
  }

  @keyframes bounce {
     0%   {top: 0px;}
    50%  {top: 50px;}
    100%  {top: 0px}
  }

  #one {
    background: rgb(144, 144, 207);
    position: absolute;
    left: 15%;
    animation-timing-function: ease-out;
    animation-duration: 1.8s;
  }
  #two {
    background: rgb(144, 144, 207);
    position: absolute;
    left: 30%;
    animation-timing-function: ease-out;
    animation-duration: 1.9s;
  }
  #three {
    background: rgb(144, 144, 207);
    position: absolute;
    left: 45%;
    animation-timing-function: ease-out;
    animation-duration: 2s;
  }
  #four {
    background: rgb(144, 144, 207);
    position: absolute;
    left: 60%;
    animation-timing-function: ease-out;
    animation-duration: 2.1s;
  }
  #five {
    background: rgb(144, 144, 207);
    position: absolute;
    left: 75%;
    animation-timing-function: ease-out;
    animation-duration: 2.2s;
  }
  #six {
    background: rgb(144, 144, 207);
    position: absolute;
    left: 90%;
    animation-timing-function: ease-out;
    animation-duration: 2.3s;
  }
